@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

nav{
    background-color: white;
    padding: 10px 25px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
nav a{
    margin-right: 2rem;
}

nav ul{
        list-style: none;
        display: inline-block;
        margin-right: 5rem;
}   
 nav ul li{
            display: inline-block;
            margin-right: 1rem;
}
nav ul li a{
    color: gray;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 3.5rem;
}
main section h1{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 450;
    margin-top: 3rem;
    margin-bottom: 3rem ;    

}
h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
p{
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.text-green{
    color: rgb(149, 187, 93);
}

.text-red{
    color: rgba(255, 0, 0, 0.658);
}
.fon2{
    background-color: rgba(72, 196, 196, 0.829);
    color: black;
}
.text-center{
    text-align: center;
}
.form-margin{
    margin-bottom: 2rem;
}
.map-margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.text-size{ 
    font-size: 1.5rem;
}
.text-right{
    text-align: right;
}

.tam-img{
    width: 15rem;
}

.marginM{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
}
.mensaje{
    font-size: 2rem;
}
.anime1{
    margin-top: 2rem;
    text-align: center;

}

.anime2{
    text-decoration: none;
    color: rgb(149, 187, 93);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    position: relative;
}
.anime2:after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
    }
.anime2:hover:after{
        width: 100%;
        right: 0;}

